@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media screen and (max-width: 639px) {
  .newTitle::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: blue;
    display: block;
    transform: translateX(0);
    transition: transform 0.8s ease-in-out, width 0.8s ease-in-out;
  
  }
  
}

@media (max-width: 375px) {
  .newTitle.animate::after {
    transform: translateX(140px);
    width: 160%;
  }
}

@media (min-width: 376px) and (max-width: 639px) {
  .newTitle.animate::after {
    transform: translateX(180px);
    width: 150%;
  }
}



@media screen and (min-width: 640px) {

  .projectsNav::after, 
  .educationNav::after, 
  .workNav::after, 
  .skillsNav::after {
  
    content: '';
    width: 0;
    transition: width 0.3s ease;
    height: 2px;
    background-color: blue;
    display: block;
  
  }
  
  .projectsNav:hover::after, 
  .educationNav:hover::after,
  .workNav:hover::after,
  .skillsNav:hover::after {
  
     
      width: 100%;
    
  }
}



